django

isort
flake8
flake8-variables-names
flake8-annotations-complexity
flake8-adjustable-complexity
flake8-fine-pytest

pytest
pytest-django
pytest-mock
pytest-xdist
coverage

GitPython

django-uuslug
django-crum

twine
wheel